[submodule "external/rc-switch"]
	path = external/rc-switch
	url = https://github.com/sui77/rc-switch.git
	branch = master
[submodule "external/IRremote"]
	path = external/IRremote
	url = https://github.com/z3t0/Arduino-IRremote
